/* SKILLS */
.sectionSkills {
  margin: 120px auto 0 auto;
  width: 100%;
  padding: 0 5%;
  position: fixed;
  overflow-y: scroll;
  height: 75vh;
}

@media screen and (min-width: 768px) {
  .sectionSkills {
    top: 15%;
    width: 100%;
  }
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 30px 0;
  text-align: center;
  font-size: 0.9rem;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px;
  width: 45%;
  height: 150px;
  border: 2px solid var(--light-active);
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  opacity: 0;
  animation: slideLeft 0.3s ease forwards;
  animation-delay: calc(0.05s * var(--i));
}

.skills:hover {
  background: var(--light-active);
  color: var(--dark-text);
  box-shadow: 0 0 20px var(--dark-active);
}

.skills > i {
  font-size: 3rem;
}

@media screen and (min-width: 768px) {
  .skills {
    width: 16%;
  }
}
